DirectoryIndex index.php

AddDefaultCharset utf-8

RewriteEngine On

RewriteRule .(data)$ /index.php  

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

RewriteRule ^(.+)$ index.php?$1 [QSA,L]