body{
    font-family: Corbel;
    font-size: 12px;
    padding: 0;
    margin: 0;
    background: #000;
    color: #fff;
    min-width: 1000px;
}
a{
    color: #fff;
    outline: none;
}
p{
    line-height: 18px;
}
h1,h2,h3,h4,h5,h6{
    margin: -5px 0 10px 0;
    padding: 0;
    color: inherit;
    font-family: Corbel;
    font-weight: normal;
}
.big_1{
    font-size: 100px;
    margin-top: -20px;
}
.big_2{
    font-size: 70px;
    margin-top: -20px;
}
.big_3{
    font-size: 55px;
    margin-top: -15px;
}
.big_4{
    font-size: 35px;
    margin-top: -10px;
}
.body_width{
    width: 800px;
    margin: 0 auto;
}
.bg{
    background: url(../images/bg2.jpg) no-repeat 50% 0;
}
.bg2{
    background: url(../images/bg3.png) no-repeat 50% 0;
}
.dark{
    background: #000;
}
.loading{
    background: url(../images/ajax_loader.gif) no-repeat 50% 50%;
}
.nav{
    list-style: none;
    padding: 20px 0;
    margin: 0;
    cursor: default;
}
.nav li{
    display: inline-block;
    padding-right: 11px;
    color: #fff;
    margin-right: 20px;
    cursor: pointer;
}
.nav li h2{
    text-transform: uppercase;
}
.clear{
    clear: both;
}
.w_50{
    width: 50%;
}
.color{
    color: #549fd1;
    font-size: 60px;
    margin-top: -20px;
}
.overhide{
    overflow: hidden;
}
.text{
    background: url(../images/text_bg.png);
    padding: 15px;
    color: #c1c1c1;
    text-shadow: 0 1px 0 #000;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
}